.title {
    -webkit-text-stroke: 1px #fff;
    color: transparent;

}

.bg-gradient {
    background-color: #a799ff;
    background-image:
        radial-gradient(at 70% 85%, hsla(212, 66%, 72%, 1) 0px, transparent 50%),
        radial-gradient(at 67% 32%, hsla(224, 71%, 71%, 1) 0px, transparent 50%),
        radial-gradient(at 7% 70%, hsla(215, 79%, 70%, 1) 0px, transparent 50%),
        radial-gradient(at 56% 85%, hsla(329, 65%, 67%, 1) 0px, transparent 50%),
        radial-gradient(at 53% 16%, hsla(30, 88%, 72%, 1) 0px, transparent 50%),
        radial-gradient(at 60% 67%, hsla(258, 64%, 67%, 1) 0px, transparent 50%),
        radial-gradient(at 51% 8%, hsla(54, 78%, 71%, 1) 0px, transparent 50%);

    animation: gradient 8s ease infinite;
    background-size: 300% 300%;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    20% {
        background-position: 100% 0%;
    }

    40% {
        background-position: 100% 100%;
    }

    60% {
        background-position: 0% 100%;
    }

    80% {
        background-position: 50% 50%;
    }

    100% {
        background-position: 0% 0%;
    }
}